<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/public/assets/style.css" type="text/css">
    </head>
    <body>
        
        <form action = "/login" method="post">
            <h1>Login</h1>
            <label for="email">Email </label><br>
            <div class="form-field">
                
                <input type="email" name="email" id="email"><br>
            </div>
            <label for="password">Password </label><br>
            <div class="form-field">
                <input type="password" name="password" id="password"><br>
            </div>
            <div class="form-field">   
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
    </body>
</html>